/.idea/
/.vscode/

/u1-clase3/target/
/demo/target/

/clases/u1-clase3/target/
/clases/u1-clase4/target/
/clases/u1-clase5/target/

/Practica/TA1_estructuras_control/tarea1/target/
/Practica/TA2_encapsulamiento/tarea2/AppPokemonAlimento/target/
/Practica/TA2.5_ejemplo_taller1/MiCosecha/target/
/Practica/Practica_u2-clase2/target/
/talleres/taller_u1/appentregas/target/
